<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>Client.jar</jar>
  <outfile>Chat.exe</outfile>
  <errTitle>App Error</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>favicon.ico</icon>
  <classPath>
    <mainClass>Client</mainClass>
    <cp>javafx-sdk-21\lib\javafx.base.jar</cp>
    <cp>javafx-sdk-21\lib\javafx.controls.jar</cp>
    <cp>javafx-sdk-21\lib\javafx.fxml.jar</cp>
    <cp>javafx-sdk-21\lib\javafx.graphics.jar</cp>
    <cp>javafx-sdk-21\lib\javafx.media.jar</cp>
    <cp>javafx-sdk-21\lib\javafx.properties</cp>
    <cp>javafx-sdk-21\lib\javafx.swing.jar</cp>
    <cp>javafx-sdk-21\lib\javafx.web.jar</cp>
    <cp>javafx-sdk-21\lib\javafx-swt.jar</cp>
  </classPath>
  <jre>
    <path>jre</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>true</requires64Bit>
    <minVersion>21.0.0</minVersion>
    <maxVersion></maxVersion>
    <opt>--module-path javafx-sdk-21\lib</opt>
    <opt>--add-modules javafx.controls,javafx.fxml</opt>
    <opt>-Dprism.order=sw</opt>
  </jre>
</launch4jConfig>